@font-face{
	font-family: 'Nexa';
	src: url('../Fonts/Nexa-Bold.otf') fromat('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Nexa';
	src: url('../Fonts/Nexa-Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
  font-family: 'League Gothic';
  src: url('../Fonts/leaguegothic-regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../Fonts/leaguegothic-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}