h1{
	font-family: 'Nexa';
	font-weight: 400;
	font-size: 1.8em;
	text-transform: uppercase;
	color: #3f3f3f;
	margin: 0;
	padding: 50px 0 20px 0;
}

p{
	font-family: 'Source Sans Pro';
	font-size: 1.2em;
	margin: 0;
	color: $s_black;
}

footer{
	text-align: center;

	p{
		padding: 5px 0;
	}
}