<header>
  <nav>
    <ul>
      <li class="{{#if active_home}}active{{/if}} nav-item"><a href="/">Home</a></li>
      <li class="{{#if active_blog}}active{{/if}} nav-item"><a href="/">Blog</a></li>
      <li class="{{#if active_apps}}active{{/if}} nav-item"><a href="/">Apps</a></li>
    </ul>
  </nav>
</header>
